<div class='flex-container flex-center'>
  <div id='calendar-container' class='flex-container flex-column'>
      <div class="height-20px"></div>
      <div class='flex-container flex-center-horz'>
          <div class='fa fa-chevron-left' (click)='previousMonth()'></div>
          <div class='width-5'></div>
          <div>{{date.format('MMMM ')}} {{date.format('YYYY ')}}</div>
          <div class='width-5'></div>
          <div class='fa fa-chevron-right' (click)='nextMonth()'></div>
      </div>
      <div class='height-20px'></div>
      <div class='flex-container'>
          <div class='calendar-days flex-container flex-center calendar-header'>Sun</div>
          <div class='calendar-days flex-container flex-center calendar-header'>Mon</div>
          <div class='calendar-days flex-container flex-center calendar-header'>Tue</div>
          <div class='calendar-days flex-container flex-center calendar-header'>Wedn</div>
          <div class='calendar-days flex-container flex-center calendar-header'>Thu</div>
          <div class='calendar-days flex-container flex-center calendar-header'>Fri</div>
          <div class='calendar-days flex-container flex-center calendar-header'>Sat</div>
      </div>
      <div class="flex-container flex-wrap">
          <div *ngFor="let day of daysArr">
              <div class='calendar-days flex-container flex-center ' (click)='selectedDate(day, content)' [ngClass]="{'inactive ': !day, 'today': todayCheck(day), 'reminder': remiderCheck(day), 'selected': isSelected(day)}">{{day?.date()}}</div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="d-flex justify-content-center">

  <div class="card " style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">Recordatorios</h5>
      <a href="#" class="btn btn-primary" (click)="open(content)">Agregar</a>
      <a href="#" class="btn btn-danger" (click)="deleteAllRemindersByDay()">Eliminar todos</a>
      <br>
      <br>

      <div class="list-group">
        <div *ngFor="let item of items">
          <a [class]="'list-group-item list-group-item-action list-group-item-'+ item.color+ ' flex-column align-items-start'">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> {{ item.title }} </h5>
              <small> {{ item.time.hour + ':' + item.time.minute}}</small>
            </div>
            <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
            <small>{{item.city}}</small>
            <br>
            <a (click)="edit(item, content)" class="card-link">Editar</a>
            </a>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 *ngIf="!editable" class="modal-title" id="modal-basic-title">Agregar recordatorio</h4>
    <h4 *ngIf="editable" class="modal-title" id="modal-basic-title">Editar recordatorio</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" [(ngModel)]="reminder.title" name="title" class="form-control" id="title" placeholder="Ir a comprar">
      </div>
      <div class="form-group">
        <label for="time">Hora</label>
        <ngb-timepicker [(ngModel)]="time" id="time" name="time"></ngb-timepicker>
      </div>
      <div class="form-group">
        <label for="city">Ciudad</label>
        <input type="text" [(ngModel)]="reminder.city" name="city" class="form-control" id="city" placeholder="Cancún">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Color</label>
        <select [class]="'form-control' + ' text-' + reminder.color" [(ngModel)]="reminder.color" name="color" class="form-control" id="exampleFormControlSelect1">
          <option value="primary" class="text-primary">Azul</option>
          <option value="warning" class="text-warning">Amarillo</option>
          <option value="success" class="text-success">Verde</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveReminder()">Agregar</button>
  </div>
</ng-template>
<hr>

<!-- <pre>{{ closeResult }}</pre> -->
