<app-calendar [reminders]="reminders"
              [daySelected]="daySelected"
              (onChangeDaySelected)="selectedDate($event)" ></app-calendar>
<br>

<app-reminder [items]="items"
              (addReminderEmitter)="open(content)"
              (deleteAllRemindersByDayEmitter)="deleteAllRemindersByDay()"
              (editReminderEmitter)="edit($event, content)"></app-reminder>

<ng-template #content let-modal>
  <app-modal (onCloseModal)="modal.close()" (onSaveReminder)="onSaveReminder($event)" [time]="time" [reminder]="reminder"></app-modal>
</ng-template>
